body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.yz-home-title {
  text-align: center;
  color: #1d3557;
}

.yz-home-links {
  padding-top: 5rem;
  padding-left: 5rem;
  font-weight: 400;
  font-size: 20px;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Ubuntu,sans-serif;
}

.yz-home-input {
  width: 60%;
  position: absolute;
  top:5rem;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.yz-search-result-list {
  width: 60%;
  position: absolute;
  top:10rem;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.yz-home-input-search-div {
  height: 38px;
}

.yz-home-page-image {
  border-radius: 15px;
  width: 50%;
  position: absolute;
  top:8rem;
  bottom: 0;
  right: 0;
  z-index: -1;
  margin: auto;
}

.yz-detail-screen-container {
  width: 80%;
}

.yz-detail-screen-image {
  width:400px;
  border-radius: 10px;
}

.yz-sign-up-container {
  padding-top: 90px;
  padding-left: 100px;
  justify-content: space-between;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 100%;
  font-weight: 400;
  font-size: 14px;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Ubuntu,sans-serif;

}

.yz-sign-up-box {
  padding-top: 55px;
}

.yz-signup-title {
  font-family: sohne-var,sohne-woff,Helvetica Neue,Arial,sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  letter-spacing: -.2px;
  padding-bottom: 40px;
  padding-right:20px;
  padding-left: 20px;
}

.yz-sign-up-labels {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Ubuntu,sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #1a1f36;
}

.yz-create-account-btn {
  background-color: #4361ee;
}

.yz-sign-up-row{

  min-height: 70px;
  padding-top: 4px;
}

.yz-sign-up-image {
  width:500px;
  height: 600px;
  border-radius: 200px;
}

.yz-sign-in-container {
  margin-top: 110px;
  padding-top: 20px;
  background-color: #f7f7ff;
  z-index: 0;
  position: relative;
  /*display: flex;*/
  /*flex-direction: row;*/
  height: 100%;
  width: 40%;
  color: #3c4257;
  font-weight: 400;
  font-size: 14px;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Ubuntu,sans-serif;
}

.yz-sign-in-title {
  font-size: 24px;
  padding-top: 40px;
  font-weight: 500;
  line-height: 32px;
  font-family: sohne-var,sohne-woff,Helvetica Neue,Arial,sans-serif;
  letter-spacing: -.2px;
  color: #3c4257;
}


.yz-sign-in-labels {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Ubuntu,sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #1a1f36;
}

.yz-sign-in-row {
  min-height: 70px;
  padding-top: 4px;
}

.yz-sign-in-rows {
  padding-top: 40px;
}

.yz-sign-in-box {
  width: 90%;
  padding-left: 5%;
}

.yz-logo-name {
  color: #3c4257;
  font-weight: 800;
  font-size: 20px;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Ubuntu,sans-serif;
}

.yz-profile-left-column {
  bottom: 0;
  justify-content: flex-end;
  padding: 20px 12px 20px 20px;
  top: 0;
  width: 270px;
  z-index: 10;
}

.yz-profile-right-column {
  bottom: 0;
  justify-content: flex-end;
  padding: 20px 12px 20px 20px;
  top: 0;
  width: 270px;
  z-index: 10;
  font-weight: 500;
  font-size: 20px;
  font-family: 'Roboto Slab', serif;
}


