@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Orelega+One&family=Raleway&display=swap');


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}


.yz-home-links {
  padding-top: 5rem;
  padding-left: 5rem;
  font-weight: 400;
  font-size: 20px;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Ubuntu,sans-serif;
}

.yz-home-input {
  width: 60%;
  top:5rem;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.yz-search-result-list {
  width: 60%;
  position: absolute;
  top:10rem;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.yz-add-review-container {
  margin-top: 20px;
  width: 60%;
  background-color: #edafb8;
}

.yz-home-input-search-div {
  height: 38px;
}

.yz-home-navbar {
  background-color: #edafb8;

}

.yz-major-container-home {
  background-color: #f7eeed;
  min-height: 100vh;
}

.yz-profile-container {
  background-color: #f4f3ee;
  min-height: 100vh;
}

.yz-update-drink-container {
  background-color: #f4f3ee;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
}

.yz-home-page-image {
  border-radius: 15px;
  width: 30%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -10;
  margin: auto;
}
.yz-home-card-group {
  margin-top: 60px;
}

.yz-home-user-group {
  margin-top: 100px;
  width: 20%;
  position: absolute;
}

.yz-profile-other-picture {
  width: 50%;
  height: 200px;
}

.yz-card {
  margin-bottom: 80px;
  margin-left: 25px;
  margin-right: 25px;
}



.yz-home-title {
  margin-top: 100px;
  font-family: 'Courgette', cursive;
  font-size: xx-large;
}

.yz-home-description {
  margin-top: 40px;
  font-size: large;
  font-family: 'Courgette', regular;
  text-align: center;
}
.yz-row-users-home{
  margin-left: 3px;
}

.yz-detail-screen-container {
  width: 80%;
}

.yz-detail-screen-image {
  width:400px;
  border-radius: 10px;
}

.yz-sign-up-container {
  padding-top: 90px;
  padding-left: 100px;
  justify-content: space-between;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 100%;
  font-weight: 400;
  font-size: 14px;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Ubuntu,sans-serif;

}

.yz-sign-up-box {
  padding-top: 55px;
}

.yz-signup-title {
  font-family: sohne-var,sohne-woff,Helvetica Neue,Arial,sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  letter-spacing: -.2px;
  padding-bottom: 40px;
  padding-right:20px;
  padding-left: 20px;
}

.yz-sign-up-labels {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Ubuntu,sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #1a1f36;
}

.yz-create-account-btn {
  background-color: #4361ee;
}

.yz-sign-up-row{

  min-height: 70px;
  padding-top: 4px;
}

.yz-sign-up-image {
  width:500px;
  height: 600px;
  border-radius: 200px;
}

.yz-sign-in-container {
  margin-top: 110px;
  padding-top: 20px;
  background-color: #f7f7ff;
  z-index: 0;
  position: relative;
  /*display: flex;*/
  /*flex-direction: row;*/
  height: 100%;
  width: 40%;
  color: #3c4257;
  font-weight: 400;
  font-size: 14px;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Ubuntu,sans-serif;
}

.yz-sign-in-title {
  font-size: 24px;
  padding-top: 40px;
  font-weight: 500;
  line-height: 32px;
  font-family: sohne-var,sohne-woff,Helvetica Neue,Arial,sans-serif;
  letter-spacing: -.2px;
  color: #3c4257;
}


.yz-sign-in-labels {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Ubuntu,sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #1a1f36;
}

.yz-sign-in-row {
  min-height: 70px;
  padding-top: 4px;
}

.yz-sign-in-rows {
  padding-top: 40px;
}

.yz-sign-in-box {
  width: 90%;
  padding-left: 5%;
}

.yz-logo-name {
  color: #3c4257;
  font-weight: 800;
  font-size: 20px;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Ubuntu,sans-serif;
}

.yz-profile-content-box{
  margin-top: 50px;
  padding-left: 50px;
  padding-right: 20px;
}

.yz-profile-message-box {
  padding-top: 20px;
  margin-left: 20px;
  width: 80%;
}

.yz-profile-messages-no-content {
  padding-top: 4rem;
  width: 50%;
  left: 100px;
}

.yz-profile-left-column {
  bottom: 0;
  justify-content: flex-end;
  padding: 20px 12px 20px 20px;
  top: 0;
  width: 270px;
  z-index: 10;
}

.yz-profile-right-column {
  bottom: 0;
  justify-content: flex-end;
  padding: 20px 12px 20px 20px;
  top: 0;
  width: 270px;
  z-index: 10;
  font-weight: 500;
  font-size: 20px;
  font-family: 'Roboto Slab', serif;
}

.yz-create-drink-form {
  width: 80%;
  padding-bottom: 300px;
}

.yz-user-card {
  max-width: 300px;
}



